.controls {
  display: flex;
  flex-direction: column;
}

.controls .recordButton {
  width: 5%;
  padding: 26px;
  border-radius: 50% !important;
  position: fixed;
  background-color: #f00 !important;
  bottom: 120px;
  border: 2px solid #fff;
  left: 45vw;
}

.switchButton {
  width: 5%;
  padding: 26px;
  border-radius: 50% !important;
  position: fixed;
  background-color: #00f !important;
  bottom: 120px;
  border: 2px solid #fff !important;
  left: 2vw;
}
