.controls {
  display: flex;
  flex-direction: column;
}

.record_button {
  width: 5%;
  padding: 26px;
  border-radius: 50%;
  position: fixed;
  background-color: #f00;
  bottom: 120px;
  border: 2px solid #fff;
  left: 45vw;
}

.switch_button {
  width: 5%;
  padding: 26px;
  border-radius: 50%;
  position: fixed;
  background-color: #00f;
  bottom: 120px;
  border: 2px solid #fff;
  left: 2vw;
}
